* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #2c1e1e;


}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;


    
    background: #463c3c;
    color: rgba(23, 176, 28, 0.959);
    padding: 1rem 2rem;

}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-menu  a {
    color: #f3f3f1;
    text-decoration: none;
    font-weight: bold;
}
.nav-menu a:hover {
    text-decoration: underline;
}
.nav-social a {
    color: rgb(247, 246, 250);
    margin-left: 1rem;
    text-decoration: none;
    border-radius: 0%;
    padding: 0.5rem;
    transition: background-color 0.3s;
    background-color: transparent;

}
.page-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: calc();
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: hsl(0, 18%, 85%);
}
.container {
    grid-template-areas:selector;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: hsl(0, 18%, 85%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(220, 28, 28, 0.1);

}
