h1 {
    color: blue;
    text-align: center;
    margin: 20px;
    padding: 0%;
}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
body {
    background-color: rgb(194, 180, 180);
}
label {
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding-left: 20px;
}
input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
button {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: blue;
    color: rgb(213, 48, 48);
    font-weight: bold;
}
button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(159, 44, 44);
}
option {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
select {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(27, 16, 16);
    font-weight: bold;
    border: 2px solid black;
}
input[type="text"], input[type="number"] {
    border: 2px solid black;
    font-weight: bold;
}
issue {
    color: red;
    font-weight: bold;
    background-color: rgb(142, 142, 108);
}
Issue description {
    color: red;
    font-weight: bold;
    background-color: rgb(142, 142, 108);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border-bottom: 35px solid rgb(12, 7, 7);
    border-color: black;
    border-width: 5px;

}